<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="map">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="student">
      <!-- <ion-icon aria-hidden="true" name="map"></ion-icon> -->
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Student</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>