<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-container">
    <ion-avatar class="profile-avatar" slot="start">
      <img [src]="user.imgURL" />
    </ion-avatar>
    <app-input (textChanged)="filterStudents($event)" [style]="'margin: 8px'" [type]="'text'"
      [label]="'Search'"></app-input>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-badge slot="end">4</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="calendar-cotainer">
    <div>
      <h2>Not implemented yet</h2>
      <ion-icon name="calendar-outline" style="font-size: 4rem"></ion-icon>
    </div>

  </div>
</ion-content>