<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://yt3.googleusercontent.com/JXldgSWG3-fzUKY1DXjlz-8xa34hxZJlV_4q45XamT5qKfACBcGr9FEAU_S2wvGaamXqxlzR=s176-c-k-c0x00ffffff-no-rj"/>

  <app-explore-container name="Tab 1 page">

  </app-explore-container>
</ion-content>
