<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mainpage/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{mentor?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img [src]="mentor?.imgURL"/>

  <div class="detail-container">

      <ul>
        <li *ngFor="let topic of mentor?.topics">{{topic}}</li>
      </ul>
      <app-buttons class="ion-padding"  label="Schedule one-on-one"></app-buttons>

      <div class="btn-actions-container" style="display: flex; background-color: blue; align-items: end;">
        <!-- <ion-button class="text-align-center">Schedule one-on-one</ion-button> -->
      </div>

  </div>


</ion-content>