li{
    margin-top: 4px;
    opacity: .7;
}

.btn-actions-container{
    display: flex;
    justify-content: center;
}


.detail-container{
    display: flex;
    flex-direction: column;
    // flex-grow: 2;

}