<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mainpage/study"></ion-back-button>
    </ion-buttons>
    <ion-title>{{course?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="course?.imgURL" />
  <div class="ion-padding">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, non. Enim reiciendis suscipit blanditiis.
      Assumenda, totam rem? Commodi recusandae cum necessitatibus quasi, sunt eius. Maxime possimus, sunt aliquid
      distinctio odit iusto tempore nesciunt ullam corporis pariatur labore incidunt atque magnam enim cumque voluptatem
      omnis. Magni!</p>
  </div>

  <ion-list class="ion-padding">
    <ion-item *ngFor="let class of course?.classes; let indexOfelement=index;" [ngClass]="class.isDone ? 'course-done' : ''">
      <div slot="start">{{indexOfelement + 1 + '  '}}</div>

      <!-- <div style="display: flex;"> -->
        <ion-label>{{class.title}}</ion-label>
      <!-- </div> -->
    </ion-item>
  </ion-list>
</ion-content>