.detail-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 40px;

    &-header {
        display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // height: 10%;


        // img {
        //     left: 90%;
        // }

        // ion-avatar {
        //     transform: translateY(50%);
        //     z-index: 2;
        // }
    }

    &-content {
        ion-card {

            .detail-container-header {
                display: flex;
                flex-direction: column;

                ion-avatar {
                    height: 64px;
                    width: 64px;
                }
            }


            ion-card-title,
            ion-card-subtitle {
                display: flex;
                justify-content: start;
            }

            ion-card-subtitle {
                font-size: 10px;
            }
        }

        height: 100%;
        width: 100%;
    }
}

.hobbies-container {
    display: flex;

    .hobbies-card {
        padding: 4px;
        border-color: #acaaaa;
        background: #fff;
        font-size: small;
        border-color: #e2e2e3;
        color: #666;
        border: 1px solid;
        align-items: center;
    }

    .first {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .last {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

}

.roles-container {
    display: flex;
    flex-direction: row;

    .role-card {
        align-items: center;
        border-radius: 5px;
        font-size: 12px;
        margin-bottom: 10px;
        display: flex;
        height: 24px;
        justify-content: center;
        padding: 6px 12px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .business {
        background-color: rgb(255, 235, 233);
        color: rgb(227, 117, 104);
    }

    .english {
        background-color: #687dd2;
        color: #172764;
    }

    .english-level {
        background-color: #C7EFCF;
        color: #288F3D;
        margin-inline-start: 5px;

    }

    .work-focus {
        background-color: #9799CA;
        color: #7073cf;
    }
}

.swiper-header-container {
    // position: relative;

    img {
        border-radius: 20px;
    }
}

.opaque-background-container
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    position: absolute;
    top: 0;

    ion-avatar {
        height: 144px;
        width: 144px;
    }
}